.app-header>section>label {
  position: relative;
  flex: 1;
  padding-inline-end: 10px;
  max-width: 722px;
}

.app-header>section>label>input {
  border: none;
  background-color: var(--inp-bg);
  padding-left: 56px;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  width: 100%;
}

.app-header>section>label>input:focus-within {
  background-color: var(--nav-bg);
  box-shadow: 1px 1px 3px #3335;

}

.app-header>section>label>span {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.logo-search {
  flex: 1;
}


/* APPS PICKER */

.apps-wrapper {
  position: relative;
}

.apps-picker {
  position: absolute;
  width: max-content;
  top: 65px;
  right: 0;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 20%) 0 2px 6px;
  border: 1px solid rgb(237, 236, 236);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
  z-index: 10;
}

.apps-picker::before {
  content: '';
  height: 15px;
  width: 15px;
  background: #fff;
  position: absolute;
  top: -7.5px;
  right: 6.5%;
  transform: rotate(45deg);
  box-shadow: -1px -1px #0002;
  border-radius: 3px;
}

.apps-picker img.picker-app {
  width: inherit;
  height: 45px;
  margin: 0;
}

.apps-picker span {
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
}

.apps-picker span:hover {
  background-color: var(--btn-hover-bg);
}


.apps-screen {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
  z-index: 5;
}

.theme-screen {
  position: fixed;
  inset: 0;
  background-color: transparent;
  z-index: 1;
}

.opacity-1 {
  opacity: 1;
  pointer-events: all;
}