.note>section>.actions {
    position: relative;
}


.note>section>.actions>div {
    opacity: 0;
    transition: none;
    
}

.note:hover>section>.actions>div {
    transition: opacity .3s;
    opacity: 1;
    scale: .8;
}


.choose-color {
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #eee;
    border-radius: 12px;
    height: 100px;
    width: 95%;
    box-shadow: inset 0 0 4px #333;
}

.choose-color::after {
    content: '';
    height: 30px;
    width: 30px;
    background: #eee;
    background: linear-gradient(135deg, transparent 40%, #eee 40%);
    position: absolute;
    bottom: -15px;
    right: calc(30px *3 + 15px);
    transform: rotate(45deg);
    box-shadow: inset -2px -2px rgba(51, 51, 51, 0.454);
}

.choose-color>* {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    border: 1px solid var(--txt);
    cursor: pointer;
    transition: scale .3s;
}


.choose-color>*:hover {
    scale: 1.3;
}