.user-msg {
    position: fixed;
    bottom: 40px;
    right: 20px;

    width: 290px;
    background-color: rgb(208, 206, 139);
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
    text-transform: capitalize;
    /* transition: opacity 1s; */
}
.success {
    background-color: #eee;
    border: 2px solid royalblue;
}

.success::after{
    content: '✔';
    color: rgb(150, 206, 86);
    padding-inline-start: 8px;

}

.error {
    background-color: #eee;
    border: 2px solid rgb(187, 104, 104);
}
.error::after{
    content: '✖';
    color: rgb(187, 104, 104);
    padding-inline-start: 8px;

}