.note-list {
    margin-block-start: 20px;
    /* column-count: 1; */
    column-gap: 10px;
    row-gap: 20px;
    padding: 10px;
    column-width: 275px;
   
}

.note-app{
    display: flex;
}
.note-app >*:last-child{
    flex: 1;
}

