.note-list {
    margin-block-start: 20px;
    column-count: 1;
    column-gap: 10px;
    row-gap: 20px;
    padding: 10px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 600px) {
    .note-list {
        column-count: 2;
    }
}

@media (min-width: 900px) {
    .note-list {
        column-count: 3;
    }
}

@media (min-width: 1200px) {
    .note-list {
        column-count: 4;
    }
}
@media (min-width: 1600px) {
    .note-list {
        column-count: 5;
    }
}