.app-nav .logo-container {
    align-items: center;
    margin: 10px 10px 20px 10px;
}

.app-nav .logo-container .note-logo {
    height: 50px;
    width: 50px;
}

.app-nav .logo-container>.note-logo~p {
    align-self: flex-end;
    font-size: 1.7em;
    position: relative;
    top: 5px;
}

.app-nav .logo-container:has(.note-logo) {
    margin-block-end: calc(15vh - 60px);
}

.app-nav .note-filters li {
    padding: 0;
    margin: 0;
    display: flex;
}


.app-nav li label {

    padding: 7px 20px;
    margin-inline-end: 7px;
    cursor: pointer;
    width: 250px;

}

.app-nav label input {
    display: none;
}

.app-nav label span {
    margin-inline-start: 10px;
}


.app-nav li:has(label input:checked) {
    background: #d3e3fd;
    font-weight: 600;
}