/* .note-nav{
    margin-block-start: 110px;
} */

.app-nav .note-filters li {
    padding: 0;
    margin: 0;
    border-radius: 0 1em 1em 0;
}
.app-nav li label{
    padding: 7px 34px;
    width: 45px;
    overflow: hidden;
    display: flex;
    transition: width .3s;
    cursor: pointer;
    margin-inline-end: 10px;

}

.app-nav li label span{
    /* display: none; */
    margin-inline-start: 22px;

}

.app-nav li:has(label input:checked) i{
    border-radius: 50%;
    box-shadow: inset 0 0 100px rgba(255, 255, 255, 0.603),
    0 0 20px 5px rgb(255, 255, 255),
    0 0 40px  #555;
}

.app-nav.app-nav.active li label span{
    opacity: 1;
    display: inline-block;

}

.app-nav:hover li label,
.app-nav.active li label {
    width: 250px;

}

.app-nav label input {
    display: none;
}


.app-nav li:has(label input:checked) {
    background: #d3e3fd;
    font-weight: 600;
}