.app-header .logo-container {
    align-items: center;
    margin: 10px 100px 20px 10px;
}

.mail-logo {
    width: 50px;
    margin-inline-end: 5px;

}

.logo-container>button {
    height: 48px;
    width: 48px;
}

.logo-container i {
    font-size: 1.3em;
}

.logo-container p {
    margin: 0;
    font-size: 1.5em;
    color: var(--txt);
}

.end-icons {
    display: flex;
}

.end-icons img {
    width: 30px;
    margin-inline-end: 10px;
    cursor: pointer;
}

.end-icons .user-wrapper {
    position: relative;
}

.end-icons .user-wrapper img {
    width: 40px;
}

.end-icons .user-img {
    position: absolute;
    padding: 4px;
    border-radius: 50%;
}