.mail-app {
    display: flex;

}

.app-nav {
    flex-basis: 250px;
    background-color: var(--nav-bg);
    height: 90vh;
}

.app-header {
    background-color: var(--nav-bg);
    height: 64px;
    padding: 8px;
}


.main-content {
    flex: 1;
}