.mail-app {
    display: flex;

}

.app-nav {
    flex-basis: 250px;
    background-color: var(--nav-bg);
    height: 90vh;
}

.app-header{
    background-color: var(--nav-bg);
    height: 10vh;
    }


.main-content {
    flex: 1;
}
