button.composed {
    width: 60px;
    overflow: hidden;
}


button.composed {
    padding: 1em 1.2em;
    border-radius: 1em;
    font-size: 1.2em;
    border: none;
    background-color: #c2e7ff;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: box-shadow 0.2s;
    margin-inline-start: 10px;
    color: var(--txt);
    display: flex;
    transition: width .3s;
}

.app-nav.active button.composed,
.app-nav:hover  button.composed{
    width: 168px;
}

button.composed i {
    margin-inline-end: 20px;
}

button.composed:hover {
    box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);
}

.app-nav .nav-item {

    border-radius: 0 1em 1em 0;
    padding: 7px 34px;
    width: 45px;
    overflow: hidden;
    display: flex;
    transition: width .3s;
    cursor: pointer;
    margin-inline-end: 10px;
    position: relative;
}

.app-nav .nav-item span:not(.unread-count) {
    padding-inline-start: 20px;

}

.app-nav:hover .nav-item,
.app-nav.active .nav-item {
    width: 250px;

}

.app-nav li:hover {
    background-color: rgb(237, 235, 235);
}

.app-nav li.selected {
    background-color: #d3e3fd;
    font-weight: 600;
}

.app-nav li>span:not(.unread-count) {
    flex: 1;
}

.unread-count {
    font-size: 0.8em;
    position: absolute;
    top: 2px;
    right: 15px;
    background: rgb(255, 18, 18);
    color: transparent;
    border-radius: 50%;
    padding: 5px;
    height: 8px;
    width: 8px;
    line-height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.app-nav.active .unread-count,
.app-nav:hover .unread-count
 {
    position: relative;
    top: 5px;
    right: 0;
    background: transparent;
    color: var(--txt);

}