.mail-app {
    display: flex;

}

.app-nav {
    background-color: var(--nav-bg);
    height: 90vh;
}

.app-header {
    background-color: var(--nav-bg);
    height: 64px;
    padding: 8px;
}


.main-content {
    flex: 1;
}

.disable{
    pointer-events: none;
    opacity: 0.4;
}

.black{
    color:black;
}
.skeleton-wrapper{
    justify-content: flex-start;
    flex-wrap: wrap;
}
