:root {
  --txt:#333;
  --txt-light:#777;
  --nav-bg:#f6f8fc;
  --inp-bg:#ebf1fa;
  --selected-bg:#f2f6fc;
  --marked:#f5cd6f;
  --updates:#e37520;
  --btn: #5f6368;
  --btn-hover-bg: #f1f1f1;
  --add-mail: #c4e6fe;
  --cur-tab: #d5e2fc;
  --hover-tab-bg: #e9eaee;
  --hover-app-bg: #e9effd;
  --mail-border: #eceff1;
  --mail-unread-bg:#f2f6fc;
  --blue:#4285f4;
  --green:#34a853;
  --bg-light-white: #fdfdfd;

} 