:root {
  --txt:#333;
  --txt-light:#777;
  --nav-bg:#f6f8fc;
  --inp-bg:#ebf1fa;
  --selected-bg:#f2f6fc;
  --marked:#f5cd6f;
  --updates:#e37520;
  --btn: #5f6368;
  --btn-hover-bg: #f1f1f1;
  --add-mail: #c4e6fe;
  --cur-tab: #d5e2fc;
  --hover-tab-bg: #e9eaee;
  --hover-app-bg: #e9effd;
  --mail-border: #eceff1;
  --mail-unread-bg:#f2f6fc;
  --blue:#4285f4;
  --main-background:#fdfdfd;
  --active-nav-background:#d3e3fd;
  --bg-light-white: #fdfdfd;
  
  /* homepagebackground and about header */
  /* --bg-light-white: #8d0000;  */
  /* Nav and side Nav */
  /* --nav-bg:#44ff00; */
  /* footer and email action background */
  /* --btn-hover-bg: #0080ff; */
  /* body background */
  /* --main-background:rgb(255, 0, 136); */
  /* mail unread */
  /* --mail-unread-bg:#d40019; */
  /* inputs */
  /* --inp-bg:#d4ff00; */
/* Active item */
  /* --active-nav-background:#2accc7; */
} 